<main>
  <div class="container-fluid">
    <div class="top-searhbar">
      <div class="brand-holder text-center d-block d-lg-none mr-3">
        <a href="#"><img src="../../../assets/images/rs_images/logo.png" alt=""></a>
      </div>
      <form>
        <input type="text" class="form-control" placeholder="Search">
        <i class="far fa-search"></i>
      </form>
      <div class="right-links">
        <a (click)="onCreateClick()" class="btn btn-primary">Create <i class="fal fa-plus"></i></a>
        <a  class="logout"><i class="far fa-power-off"></i></a>
        <a  class="menu-mob d-inline-flex d-lg-none"><i class="fal fa-bars"></i></a>
      </div>
    </div>
    <div class="header-dashboard">
      <h2 class="heading1">Manage Posts</h2>

      <div class="action-bar">
        <div class="row align-items-center">
          <div class="col-6">
            <a href="#" class="filter">Filter</a>
          </div>
          <div class="col-6">
            <ul class="action-links list-unstyled">
              <li><a href="#"><i class="far fa-pencil"></i></a></li>
              <li>
                <a href="#"><i class="far fa-trash"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-share-alt"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-eye"></i></a>
              </li>
              <li>
                <a href="#"><i class="far fa-download"></i></a>
              </li>
              <li>
                <a href="#"><i class="far fa-ellipsis-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-mian">
      <div class="row">
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-docx-copy.svg" alt=""></div>
            <h3 class="title-card">Job Title Here!</h3>
            <div class="time">16 hours ago</div>
            <ul class="photo-list list-unstyled">
              <li><span class="photo"></span></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-docx-copy.svg" alt=""></div>
            <h3 class="title-card">Job Title Here!</h3>
            <div class="time">16 hours ago</div>
            <ul class="photo-list list-unstyled">
              <li><span class="photo"></span></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-docx-copy.svg" alt=""></div>
            <h3 class="title-card">Job Title Here!</h3>
            <div class="time">16 hours ago</div>
            <ul class="photo-list list-unstyled">
              <li><span class="photo"></span></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-docx-copy.svg" alt=""></div>
            <h3 class="title-card">Job Title Here!</h3>
            <div class="time">16 hours ago</div>
            <ul class="photo-list list-unstyled">
              <li><span class="photo"></span></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-docx-copy.svg" alt=""></div>
            <h3 class="title-card">Job Title Here!</h3>
            <div class="time">16 hours ago</div>
            <ul class="photo-list list-unstyled">
              <li><span class="photo"></span></li>
              <li><span class="photo"></span></li>
            </ul>
          </div>
        </div>
      </div>
      <h3 class="heading2">All Resumes</h3>
      <div class="row">
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
        <div class="col">
          <div class="card-resume">
            <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
            <h3 class="title-card">Resume #</h3>
            <div class="time">16 hours ago</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
