<main>
  <div class="container-fluid">

    <div class="header-dashboard">
      <h2 class="heading1">Manage Posts</h2>
      <div class="resume-mian">
        <div class="row">
          <div class="col-lg-7">
            <div class="job-title-div">
              <h3 class="heading2">Job Post</h3>
              <div class="job-boxes">
                <a (click)="$event.preventDefault();showCandidates(job)" href=""*ngFor="let job of jobs">
                <div class="col" >

                  <div class="card-resume " >
                    <div class="row no-gutters">
                      <div class="col-lg-7">

                        <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-docx-copy.svg" alt=""></div>
                        <h3 class="title-card">{{job.title}}</h3>
                      </div>
                      <div class="col-lg-5 text-right">
                        <div class="time">{{job.candidates.length}} Resumes</div>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="resume-main-div">
              <h3 class="heading2">All Resumes</h3>
              <div class="resume-box">
                <div class="col" *ngFor="let candidate of candidates ; index as i">
                  <div class="card-resume">
                    <div class="row no-gutters">
                      <div class="col-lg-7">
                        <div class="icon-file"><img src="../../../assets/images/rs_images/files-icon-pdf.svg" alt=""></div>
                        <h3 class="title-card">Resume#{{i+1}}</h3>
                        <p *ngIf="candidate.status"> Status: {{" "+candidate.status}}</p>
                        <p *ngIf="!candidate.status">Status: Not Scheduled</p>
                      </div>
                      <div class="col-lg-5 text-right">

                        <div class="time">
                          <i (click)="onClickDownload(candidate.resumeFile)" class="fa fa-download" id="picker" aria-hidden="true"></i>
                          <i (click)="onClickSchedule(candidate)"  data-toggle="modal" data-target="#myModal"  class="fa fa-calendar-check-o" id="demo" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  #closebutton  data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body" >
        <div class="col-md-12">
            <form [formGroup]="scheduleForm" autocomplete="off">
              <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <input name="note" [dropSpecialCharacters]="false" [(ngModel)]="scheduleDate" mask="00/00/0000" placeholder="12/30/2020" formControlName="scheduleDate"  type="text" class="form-control" >
                    <div *ngIf="submitted && f.scheduleDate.errors" class="invalid_feedback">
                      <div *ngIf="f.scheduleDate.errors.required">This is required</div>
                      <div *ngIf="!f.scheduleDate.errors.required">Date should be: 12/25/2020</div>

                    </div>
                  </div>
                </div>
                <div class="form-group row">

                  <div class="col-sm-6">
                    <input type="text" [dropSpecialCharacters]="false" [(ngModel)]="scheduleTime"  formControlName="scheduleTime" mask="00:00 SS" placeholder="17:30:PM" required name="Unit" class="form-control">
                    <div *ngIf="submitted && f.scheduleTime.errors" class="invalid_feedback">
                      <div *ngIf="f.scheduleTime.errors.required">This is required</div>
                      <div *ngIf="!f.scheduleTime.errors.required">Time Should be: 12:12 PM </div>

                    </div>
                  </div>
                </div>

              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onScheduleSubmit()"  class="btn btn-primary">Schedule</button>
      </div>
    </div>
  </div>
</div>

