<!--<div class="se-pre-con"></div>-->
<img src="../../../assets/images/rs_images/Bg.png" alt="" class="shape">
<div class="wrapper">
  <header>
    <div class="container">
      <div class="nav">
        <a href="index.html"><img src="../../../assets/images/rs_images/logo.png" alt=""></a>
        <a (click)="onLoginClick()"  class="btn btn-primary">LOGIN <i class="fal fa-arrow-right"></i></a>
      </div>
    </div>
  </header>
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h1>Please Register!</h1>
            <p>Welcome back! Please log in below by entering the email address and password you created when you registered.</p>
            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" autocomplete="off">
              <div class="form-row">
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" type="text" [(ngModel)]="user.firstName" required  formControlName="firstName" class="form-control" placeholder="First Name">
                    <span class="form-bar"></span>

                    <div *ngIf="submitted && f.firstName.errors" class="invalid_feedback">
                      <div *ngIf="f.firstName.errors.required">This is required</div>
<!--                      <div *ngIf="f.firstName.errors.email">Invalid email</div>-->
                    </div>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" type="text" [(ngModel)]="user.lastName" required  formControlName="lastName" class="form-control" placeholder="Last Name">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid_feedback">
                      <div *ngIf="f.lastName.errors.required">This is required</div>
<!--                      <div *ngIf="f.lastName.errors.email">Invalid email</div>-->
                    </div>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.jobTitle.errors }" type="text" [(ngModel)]="user.jobTitle" required  formControlName="jobTitle" class="form-control" placeholder="Job Title">
                    <div *ngIf="submitted && f.jobTitle.errors" class="invalid_feedback">
                      <div *ngIf="f.jobTitle.errors.required">This is required</div>
<!--                      <div *ngIf="f.firstName.errors.email">Invalid email</div>-->
                    </div>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.company.errors }" type="text" [(ngModel)]="user.company" required  formControlName="company" class="form-control" placeholder="Company">
                    <div *ngIf="submitted && f.company.errors" class="invalid_feedback">
                      <div *ngIf="f.company.errors.required">This is required</div>
<!--                      <div *ngIf="f.firstName.errors.email">Invalid email</div>-->
                    </div>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.workEmail.errors }" type="email" [(ngModel)]="user.workEmail" required  formControlName="workEmail" class="form-control" placeholder="Work Email">
                    <div *ngIf="submitted && f.workEmail.errors" class="invalid_feedback">
                      <div *ngIf="f.workEmail.errors.required">This is required</div>
                      <div *ngIf="f.workEmail.errors.email">Invalid email</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.workPhone.errors }" type="tel" [(ngModel)]="user.workPhone"  class="form-control" formControlName="workPhone" placeholder="Work Phone (optional)">
                    <div *ngIf="submitted && f.workPhone.errors" class="invalid_feedback">
                      <div *ngIf="f.workPhone.errors.required">This is required</div>
<!--                      <div *ngIf="f.workPhone.errors.email">Invalid email</div>-->
                    </div>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" [(ngModel)]="user.password" required  formControlName="password" class="form-control" placeholder="Password">

                    <div *ngIf="submitted && f.password.errors" class="invalid_feedback">
                      <div *ngIf="f.password.errors.required">This is required</div>
                      <div *ngIf="f.password.errors.minlength">Password should be of minimum 6 characters</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" type="password" [(ngModel)]="confirmPassword" required  formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid_feedback">
                      <div *ngIf="f.confirmPassword.errors.required">This is required</div>
                      <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                    </div>

                  </div>
                </div>
              </div>
              <button class="btn btn-primary">register <i class="fal fa-arrow-right"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="img-holder text-right">
            <img src="../../../assets/images/rs_images/vector-smart-object-2.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <ul class="quick-links">
        <li><a href="#">SEARCH JOB</a></li>
        <li><a href="#"> HIRE</a></li>
      </ul>
      <p>© 2021 copyright all right reserved | Design by Zain</p>
    </div>
  </footer>
</div>
